*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --almost-white: #e5e5e5;
    --blue: #2196f3;
    --almost-black: #212121;
    --black: #000000;
    --dark-gray: #2f303a;
    --gray: #757575;
    --light-gray: #f5f4fa;
    --button-blue: #0000ff;
    --border-header: #ececec;
    --border-portfolio-li: #eeeeee;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--almost-black);
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-header);
}

.page-header-left {
    display: flex;
    align-items: center;
    gap: 93px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--black);
    letter-spacing: 0.03em;
}

.logo-blue {
color: var(--blue);
padding: 25px 0 24px 0;
}

.logo:hover,
.logo-blue:hover {
    color: var(--blue);
}

.navigation {
    margin-left: 93px;
}

.nav-menu {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}

.menu-blue {
    color: var(--blue);
    text-decoration: none;
}

.menu {
    text-decoration: none;
    color: var(--almost-black);
}

.menu-blue:hover,
.menu:hover {
    color: var(--blue);
}

.contact {
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
    letter-spacing: 0.02em;
    padding: 32px 0 32px 0;
    margin-left: auto;
}

.contact li {
    display: inline;
}

.mail {
    color: var(--gray);
    text-decoration: none;

}

.tel {
    color:var(--gray);
    text-decoration: none;
}

.mail:hover,
.tel:hover {
    color: var(--blue);
}

.hero {
    background-color: var(--dark-gray);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 280px;
}

.hero-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--gray);
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
}

.hero-button:hover {
    color: var(--blue);
}

.first-section {
    padding: 94px;
}
.first-section-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: justify;
    color: var(--gray);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.list {
    width: 270px;
}

.h2-first-section {
    color: var(--almost-black);
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.second-section {
    padding: 94px 0 94px 0;
}

.second-section-list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.h2-second-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.second-section-list li {
    display: inline-block;
}

.third-section {
    padding: 94px 0 94px 0;
}

.third-section-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.third-section-list li {
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1 px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.h3 {
    text-align: center;
    margin: 30px 0 10px 0;
    font-weight: 500;
    color: var(--almost-black);
}

.third-section-list p {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--gray);
}

.h2-third-section {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--almost-black);
}

footer {
    display: flex;
    padding: 60px 0 60px 215px;
    background-color: var(--dark-gray);
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--white);
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    display: block;
}

.logo-blue-footer {
    color: var(--blue);
}

.logo-footer:hover,
.logo-blue-footer:hover {
    text-decoration: underline solid var(--blue);
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;
}

.contact-footer {
    padding: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    list-style: none;
    letter-spacing: 0.03em;
}

.contact-footer li {
    margin-top: 9px;
}

.mail-footer {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
}

.tel-footer {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
}

.mail-footer:hover,
.tel-footer:hover,
.address-link:hover {
    color: var(--blue);
}

.portfolio-button-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    cursor: pointer;
    gap: 8px;
    padding: 94px 0 50px 0;
}

.portfolio-button-menu li {
    display: inline;
}

.element-style {
    list-style: none;
}

.portfolio-button-blue {
    list-style: none;
    background-color: var(--light-gray);
    color: var(--almost-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-button {
    background-color: var(--light-gray);
    color: var(--almost-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
}

.portfolio-section {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
}

.portfolio-section li {
    display: inline-block;
    border: 1px solid var(--border-portfolio-li);
}

.portfolio-section p {
    color: var(--gray);
    padding-inline: 24px;
}

.h2-portfolio-section {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-inline: 24px;
}

.h2-portfolio-section:hover,
.portfolio-section p:hover,
.portfolio-button:hover
.portfolio-button-blue:hover {
    text-decoration: underline solid var(--blue);
}